<md-dialog aria-label="Dialog" ng-cloak style="min-width: 400px;min-height:120px;">
	<form role="form" ng-submit="answer(locals.categoria)">
		<div layout="row" class="ca-dialog-title-bar">
			<h3 flex="auto"class="ca-dialog-title-text ca-font-md">Inclusão de Categoria</h3>
			<span flex ></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon>close</md-icon>
			</md-button>
		</div>
		<md-dialog-content>
			<br/>
			<div class="ca-input-group">
				<md-input-container class="md-block">
					<label for="nome">Nome/descrição da categoria</label>
					<input type="text" ng-model="locals.categoria.nome" id="nome" maxlength="40"
						required md-autofocus/>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<button md-button type="submit" class="md-raised md-primary">Salvar</button>
			<button md-button class="md-raised" ng-click="cancel()">Voltar</button>
		<md-dialog-actions layout="row">
	</form>
</md-dialog>