<md-dialog aria-label="Dialog" ng-cloak style="min-width: 400px;min-height:120px;">
	<form name="form" role="form" ng-submit="answer(locals.usuarioRegistro)">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Registro de novo usuário</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon>close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<br/>
			<div class="ca-input-group md-subheade">
				<md-input-container class="md-block">
					<label for="email">Email</label>
					<input type="email" ng-model="locals.usuarioRegistro.email" id="email" maxlength="250" required disabled="disabled" />
				</md-input-container>
				<div layout="row">
					<md-input-container flex="60" class="md-block">
						<label for="senha">Senha</label>
						<input type="password" ng-model="locals.usuarioRegistro.senha" id="senha" maxlength="30" required focus="true" autofocus md-autofocus/>
					</md-input-container>
					<md-input-container flex="30" class="md-block">
						<label for="apelido">Apelido</label>
						<input type="text" ng-model="locals.usuarioRegistro.apelido" id="apelido" maxlength="10" required ng-pattern="/^[a-zA-Z0-9-._]*$/" />
					</md-input-container>
				</div>
				<md-input-container class="md-block">
					<label for="nome">Nome</label>
					<input type="text" ng-model="locals.usuarioRegistro.nome" id="nome" maxlength="150" required ng-pattern="/^[a-zA-Z0-9\u00C0-\u00FF. ]*$/" />
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<button md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">Salvar</button>
			<button md-button class="md-raised" ng-click="cancel()">Voltar</button>
		</md-dialog-actions>
	</form>
</md-dialog>
