<md-dialog aria-label="Dialog" ng-cloak style="min-width: 400px;min-height:120px;">
	<form name="form" role="form" ng-submit="answer(locals)">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Alteração de senha</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon>close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<br/>
			<div class="ca-input-group" ng-cloak>
				<md-input-container class="md-block" ng-if="locals.informarAtual">
					<input type="password" id="senhaAtual" ng-model="locals.senhas.atual" required placeholder="Senha atual" title="Senha atual" autofocus md-autofocus="locals.informarAtual">
				</md-input-container>
				<md-input-container class="md-block">
					<input type="password" id="senhaNova" name="senhaNova" ng-model="locals.senhas.nova" equals="{{locals.senhas.confirma}}" required placeholder="Senha nova" title="Nova senha" autofocus md-autofocus="!locals.informarAtual">
				</md-input-container>
				<md-input-container class="md-block">
					<input type="password" id="senhaConfirma" name="senhaConfirma" ng-model="locals.senhas.confirma" equals="{{locals.senhas.nova}}" required placeholder="Senha confirma" title="Confirmação da senha">
					<div ng-message="form.senhaConfirma.$error.equals" role="alert" ng-if="form.senhaConfirma.$error.equals">Senha nova e confirmação estão diferentes</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<button md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">Confirmar</button>
			<button md-button class="md-raised" ng-click="cancel()">Voltar</button>
		</md-dialog-actions>
	</form>
</md-dialog>
