<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div align="center">
		<div align="center" style="width:80%; min-height: 160px; background-color: #EEE; border: 2px solid gray; padding: 20px; margin: 20px;">
			<h1>${nomeEmpresa} - #${nomeAplicacao}</h1>
			<h2><b>${email}</b></h2><br/>
			<h3>${mensagem}</h3><br/>
			<a href='${urlConfirma}' title="${urlConfirma}" style="text-decoration: none; font-weight: bold; background-color: #0099CC; color: #FFF; border: 2px solid #0088BB; padding: 6px; margin: 2px">
				CONFIRMAR
			</a>
			<br/><br/>
			<p>ou copie e cole o endereço abaixo no seu navegador:</p>
			<p><i>${urlConfirma}</i></p>
		</div>
		<img alt="logotipo" src="${urlLogotipo}">
	</div>
</body>
</html>