body {
	background-color: #eee;
}

.dialog-header-confirm {
	background-image: linear-gradient(to bottom, #337AB7 0px, #2E6DA4 100%);
	background-repeat: repeat-x;
}
.bigGraph {width:70%;height:500px;float:left;}
.mediumGraph {width:350px;height:300px;float:left;}
.smallGraph {width:20%;height:300px;float:left;}

.flexDiv {
	min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 80vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
	vertical-align: middle;
}

.flexDiv90 {
	min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 90vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
	vertical-align: middle;
}

.logoHome {
	opacity: 0.05;
	filter: alpha(opacity=05);
	width: 90%;
}

md-toolbar:not(.md-menu-toolbar) {
	background-color: #EEE;
	color: #000;
	border-bottom: 2px solid #DDD;
	min-height: 42px;
}
md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised) {
	line-height: 0;
}

md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised) md-icon {
	color: #000;
}

.md-toolbar-tools {
	height: unset;
}

.ca-linha-negrito th {
	font-weight: bold;
}

.ca-div-filtro {
	margin-bottom: 0;
	padding: 8px;
}

.ca-header {
	position: fixed;
	top: 0;
}

.ca-menu-button {
	min-width : 0;
}

main {
	padding-top: 50px;
}

.ca-button-85 {
	width: 85%;
	margin: 15px 0 !important;
}

.ca-input-group {
	margin: 15px;
}

.ca-md-input {
	border-style: solid;
	border-color: grey;
	border-width: 0 0 2px 0;
	padding-bottom: 3px;
}
.ca-md-input:focus {
	border-color: #0099cc;
	font-style: italic;
}
.ca-md-input-categoria {
	width: 100%;
}

.ca-checkbox {
	width: 0;
}

.editable-wrap { /*angular-xeditable*/
	width: 80%;
}

.loading-dialog {
	min-width: 0 !important;
}

.navbar-fixed-bottom, .navbar-fixed-top {
	z-index: 190 !important;
}

.md-dialog-container, md-backdrop.md-dialog-backdrop {
	z-index: 200 !important;
}

.md-select-menu-container {
	z-index: 210 !important;
}

.md-button-icon {
	min-width: 24px;
	min-height: 24px;
	padding: 1px;
	margin: 0px;
	line-height: 0;
}

md-card md-card-title {
	padding: 16px;
}

md-input-container .md-errors-spacer {
	min-height: 0;
}

md-input-container {
	margin: 5px;
	margin-top: 20px;
}

md-input-container label {
	margin-bottom: 0px;
}

md-dialog md-dialog-content:not([layout="row"]) > :first-child:not(.md-subheader) {
	margin-top: 0;
}

.card-signin {
	width: 330px;
}
.card-senha {
	width: 330px;
}
.card-register {
	width: 390px;
}

/* Cores */
 
.verde_claro {
    color: #40FF40;
}
 
.verde {
    color: #00CC00;
}
 
.azul {
    color: #0099cc;
}
 
.azul_claro {
    color: #3ac2cf;
}
 
.cinza {
    color: #666666;
}
 
.fundo_cinza {
    background-color: #BBBBBB
}