/* Cores */

.verde-claro {
	color: #40FF40;
}

.fundo-verde-claro {
	background-color: #40FF40;
}

.verde {
	color: #00CC00;
}

.fundo-verde {
	background-color: #00CC00;
}

.azul {
	color: #0099cc;
}

.fundo-azul {
	background-color: #0099cc;
}

.outro-azul {
	color: #0088e0; 
	background-color: #0066C0;
}

.azul-claro {
	color: #3ac2cf;
}

.fundo-azul-claro {
	background-color: #3ac2cf;
}

.cinza {
	color: #666666;
}

.fundo-cinza {
	background-color: #BBBBBB
}
