@font-face {
    font-family: 'codigoalvo lt';
    src: url('../fonts/CodigoalvoLight.eot');
    src: url('../fonts/CodigoalvoLight.eot'), 
         url('../fonts/CodigoalvoLight.ttf') format('truetype'),
         url('../fonts/CodigoalvoLight.otf') format('opentype'),
         url('../fonts/CodigoalvoLight.svg') format('svg');
}

@font-face {
    font-family: 'codigoalvo bd';
    src: url('../fonts/CodigoalvoBold.eot');
    src: url('../fonts/CodigoalvoBold.eot'), 
         url('../fonts/CodigoalvoBold.ttf') format('truetype'),
         url('../fonts/CodigoalvoBold.otf') format('opentype'),
         url('../fonts/CodigoalvoBold.svg') format('svg');
}

@font-face {
    font-family: 'codigoalvo md';
    src: url('../fonts/CodigoalvoMedium.eot');
    src: url('../fonts/CodigoalvoMedium.eot'),
         url('../fonts/CodigoalvoMedium.ttf') format('truetype'),
         url('../fonts/CodigoalvoMedium.otf') format('opentype'),
         url('../fonts/CodigoalvoMedium.svg') format('svg');
}

body {
	font-family: 'Comfortaa', cursive;
	/* font-family: 'Open Sans', sans-serif; */
	/* font-family: 'codigoalvo lt', 'Comfortaa', cursive; */
}

.md-button {
	font-family: 'codigoalvo md', 'Comfortaa', cursive;
	text-transform:lowercase;
	font-size: 120%;
}

.ca-md-input {
	font-family: 'Comfortaa', cursive;
	/* font-family: 'codigoalvo lt', 'Comfortaa', cursive; */
	text-transform: none;
}

header {
	font-family: 'codigoalvo bd', 'Comfortaa', cursive;
	text-transform:lowercase;
	font-size: 120%;
}

.ca-font-lt, .ca-font-lt-linha th, .ca-font-lt-linha td {
	font-family: 'codigoalvo lt', 'Comfortaa', cursive;
	text-transform:lowercase;
}

.ca-font-md, .ca-font-md-linha th, .ca-font-md-linha td {
	font-family: 'codigoalvo md', 'Comfortaa', cursive;
	text-transform:lowercase;
}

.ca-font-bd, .ca-font-bd-linha th, .ca-font-bd-linha td {
	font-family: 'codigoalvo bd', 'Comfortaa', cursive;
	text-transform:lowercase;
}