@font-face {
    font-family: 'Bauhaus Light';
    src: url('../fonts/BauhausLight.eot');
    src: url('../fonts/BauhausLight.eot'), 
         url('../fonts/BauhausLight.ttf') format('truetype'),
         url('../fonts/BauhausLight.otf') format('opentype'),
         url('../fonts/BauhausLight.svg') format('svg');
}
 
@font-face {
    font-family: 'Bauhaus Demi';
    src: url('../fonts/BauhausDemi.eot');
    src: url('../fonts/BauhausDemi.eot'), 
         url('../fonts/BauhausDemi.ttf') format('truetype'),
         url('../fonts/BauhausDemi.otf') format('opentype'),
         url('../fonts/BauhausDemi.svg') format('svg');
}
 
@font-face {
    font-family: 'Bauhaus Medium';
    src: url('../fonts/BauhausMedium.eot');
    src: url('../fonts/BauhausMedium.eot'),
         url('../fonts/BauhausMedium.ttf') format('truetype'),
         url('../fonts/BauhausMedium.otf') format('opentype'),
         url('../fonts/BauhausMedium.svg') format('svg');
}