body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.card-signin {
	width: 330px;
}
.card-senha {
	width: 370px;
}
.card-register {
	width: 390px;
}
.form-register {
	max-width: 340px !important;
	width: 340px;
}
.form-signin {
  max-width: 300px;
  padding: 20px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
	margin-bottom: 15px;
}
.form-signin button {
	width: 85%;
}
