<header navheader></header>
<main class="row">
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default row spacing-top" ng-controller="CategoriaController" data-ng-init="listarCategorias()">
	<div class="panel-heading">
		<h3 class="panel-title text-center">Categorias</h3>
	</div>
	<table class="table table-striped table-bordered" >
		<thead>
			<tr>
				<th class="text-right" ng-show="isAdmin">Id</th>
				<th>Nome</th>
				<th class="text-center">
					<a md-button type="button" class="md-raised md-button-icon" style="background-color: green;" title="Incluir"  ng-click="dialogIncluir()">
						<md-icon style="color: white;">insert_drive_file</md-icon>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="categoria in categorias">
				<td class="col-md-1" class="text-right" ng-show="isAdmin">{{categoria.id}}</td>
				<td class="col-md-9"><span editable-text="categoria.nome" e-name="name" e-form="rowform" e-class="ca-md-input ca-md-input-categoria" e-maxlength="40" onbeforesave="gravar(categoria)">{{categoria.nome || '&nbsp;'}}</span></td>
				<td class="col-md-2 text-center" style="white-space:nowrap;">
					<button md-button type="button" class="md-raised md-primary md-button-icon" ng-click="rowform.$show()" title="Editar">
						<md-icon>create</md-icon>
					</button>
					<button md-button type="button" class="md-raised md-warn md-button-icon" ng-click="removerCategoria(categoria)" title="Excluir">
						<md-icon>delete</md-icon>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</main>