<header navheader></header>

<main class="container">
<div class="row spacing-top ng-cloak" ng-controller="EmailController" data-ng-init="verificarIdRegistro()" ng-cloak>
	<div col-md-6 col-md-offset-3" ng-show='erro'>
		<div class="row text-center">
			<h1 style="font-weight: bold;">Id de registro inválido ou expirado!</h1>
		</div>
	</div>
	<div class=" col-md-6 col-md-offset-3" ng-show='usuarioRegistro.email'>
		<div class="panel panel-default">
			<div class="panel-heading text-center">Registro de novo uusário</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" ng-submit="submeter()">
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="text" ng-model="usuarioRegistro.email" class="form-control"
								id="email" placeholder="Email do usuario" disabled="disabled"/>
						</div>
					</div>
					<div class="form-group">
						<label for="login" class="col-sm-2 control-label">Login</label>
						<div class="col-sm-10">
							<input type="text" focus="true" ng-model="usuarioRegistro.login" class="form-control"
								id="login" placeholder="Login do usuario"/>
						</div>
					</div>
					<div class="form-group">
						<label for="senha" class="col-sm-2 control-label">Senha</label>
						<div class="col-sm-10">
							<input type="password" ng-model="usuarioRegistro.senha" class="form-control"
								id="senha" placeholder="Senha" />
						</div>
					</div>
					<div class="form-group">
						<label for="nome" class="col-sm-2 control-label">Nome</label>
						<div class="col-sm-10">
							<input type="text" ng-model="usuarioRegistro.nome" class="form-control"
								id="nome" placeholder="Nome do usuario" />
						</div>
					</div>
					<div class="row text-center">
						<button type="submit" class="btn btn-primary">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</main>