<md-toolbar layout="row" class="ca-header md-hue-3"
	layout-align="space-between center center">
	<span layout="row" layout-align="start center">
		<md-button class="menu ca-menu-button" hide-gt-xs ng-click="$mdSidenav(esquerda).toggle()">
			<md-icon>menu</md-icon>
		</md-button>
		<div style="font-size: x-large; font-weight: bold; padding-left: 10px;">codigoalvo</div>
		<md-menu-bar hide-xs>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              Cadastros
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('share', $event)">
                  Categoria
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('share', $event)">
                  Conta
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              Edit
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('share', $event)">
                  Share...
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">New</md-button>
                  <md-menu-content>
                    <md-menu-item><md-button ng-click="ctrl.sampleAction('New Document', $event)">Document</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
	</span>
	<span>
		<md-button aria-label="The Button"> Button </md-button>
	</span>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="esquerda" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Sidenav Left</h1>
  </md-toolbar>
  <md-content layout-padding ng-controller="LeftCtrl">
    <md-button ng-click="close()" class="md-primary" hide-gt-md>
      Close Sidenav Left
    </md-button>
    <p hide-md show-gt-md>
      This sidenav is locked open on your device. To go back to the default behavior,
      narrow your display.
    </p>
  </md-content>
</md-sidenav>

<main>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie dolor in tellus faucibus sodales. Suspendisse dignissim eu ligula at egestas. Donec blandit ligula sit amet pulvinar ullamcorper. Proin ullamcorper tellus arcu, eu finibus turpis maximus at. Nunc volutpat egestas sapien, quis lacinia justo lacinia quis. Phasellus vel blandit purus. Quisque auctor lorem vel felis sodales, in rhoncus felis sagittis. Sed quis eros sollicitudin, congue mi non, blandit odio.</p>
	
	<p>Ut eget porttitor purus. Aenean pharetra, felis ac consequat interdum, velit turpis tempor quam, in commodo turpis ligula eget sem. Vivamus turpis diam, finibus et ligula nec, accumsan vestibulum lectus. Vestibulum dapibus arcu et pretium fermentum. Proin blandit leo eu dignissim maximus. Cras sed est eget justo consequat iaculis. Nunc dapibus nunc vel lorem convallis, interdum lobortis nunc dapibus. Proin imperdiet rutrum ultrices. Donec cursus ante mi.</p>
	
	<p>Nulla finibus vitae dolor eget egestas. Ut risus ligula, maximus sed est at, molestie gravida nulla. Cras volutpat aliquam magna, eget hendrerit ante bibendum quis. Etiam gravida, sapien sit amet mattis pulvinar, dolor purus mattis lorem, a semper purus nisl et quam. Sed faucibus lacus ut sagittis mattis. Duis nec mi a sapien venenatis consectetur sed eget risus. Vestibulum rhoncus vel tortor vitae sagittis. Sed aliquam scelerisque aliquam.</p>
	
	<p>Donec vel velit convallis, luctus metus non, condimentum lacus. Etiam id velit id leo dictum egestas. Maecenas et quam in erat bibendum ornare. Nunc luctus condimentum justo vulputate semper. Suspendisse potenti. Suspendisse id risus dapibus, imperdiet purus nec, facilisis odio. Cras tincidunt nulla eget ex consequat elementum. In hac habitasse platea dictumst. Maecenas pulvinar, tortor sit amet porttitor convallis, erat felis tincidunt est, in efficitur metus nunc nec ante. Maecenas lobortis eget sapien et efficitur. Curabitur consequat bibendum tortor, ut pretium nunc. Morbi vel sapien at tortor varius convallis non eget nisl. Quisque accumsan maximus porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent vulputate varius tortor, at tempor quam semper vitae. Integer nec quam odio.</p>
	
	<p>Vivamus arcu leo, suscipit eget lobortis ac, hendrerit non ex. Donec eget dignissim tortor, in finibus purus. Sed aliquet, sem rutrum rhoncus egestas, elit lacus rutrum risus, at sagittis eros orci ac sem. Aenean tempor magna magna, sit amet condimentum mi maximus ac. Vestibulum tortor nibh, malesuada at diam tempor, viverra convallis massa. Mauris non magna id leo sodales lacinia. Nullam et lorem dui. Etiam eget ullamcorper sem.</p>
	
	<p>Pellentesque vulputate est et turpis facilisis, ut imperdiet ligula aliquet. Mauris ac sapien at turpis tempor suscipit in sed nisl. Pellentesque finibus vehicula mi vitae facilisis. Integer molestie leo nec velit lacinia blandit. Nulla facilisi. Donec sollicitudin semper sapien, ut efficitur sem auctor ultrices. Sed placerat sed nisl at facilisis. Etiam velit tortor, porta at convallis cursus, posuere eget purus. Nunc ut cursus nisl. Morbi purus tellus, malesuada ut faucibus eu, iaculis id neque. Integer vel sapien nisi.</p>
	
	<p>Proin convallis nunc non lacus consequat, et commodo leo condimentum. Nunc egestas diam nec quam tincidunt sodales a ornare augue. Donec at lectus lacus. Etiam ut diam leo. Suspendisse eu mattis enim. In efficitur dictum tempor. Suspendisse in tincidunt magna. Phasellus at nulla eget odio tristique mollis. Phasellus feugiat porta nisi quis accumsan. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ac viverra augue, et elementum felis. Duis aliquam blandit quam a blandit.</p>
	
	<p>Etiam mollis ultrices consequat. Mauris sagittis tellus sit amet convallis lacinia. Donec sed accumsan ante, vitae lacinia mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut erat eget diam semper gravida. Praesent lobortis tincidunt laoreet. Aenean et pellentesque lectus. Cras nulla quam, dapibus vitae placerat quis, aliquet sit amet eros. Cras volutpat, velit eu maximus pellentesque, dolor erat hendrerit diam, at imperdiet purus mi sed ipsum. Sed vulputate nec massa feugiat finibus.</p>
	
	<p>Nunc in nibh in ex lacinia rhoncus. Aenean tempus quam non commodo lobortis. Cras in turpis at leo tincidunt pharetra eu nec metus. Nam quis augue congue, tristique nisl eget, laoreet augue. Sed elementum ipsum eget ex interdum accumsan. Sed lacinia id mi in maximus. Vivamus sem odio, lobortis vitae neque eget, condimentum tempor leo.</p>
	
	<p>Mauris imperdiet tortor sed tortor pharetra, in varius sapien iaculis. Integer sit amet felis facilisis, consectetur nulla non, egestas risus. Aenean vitae condimentum nulla. Maecenas et massa risus. In sagittis, erat quis vehicula fringilla, magna lacus rhoncus nibh, sed sollicitudin nulla quam eu enim. Integer nec urna ac est rhoncus faucibus. Nam nisi nisi, pretium non imperdiet sed, aliquam eget leo. Vestibulum et molestie magna. In nisi justo, facilisis at dolor vel, venenatis mollis magna. Cras eget mauris blandit, tincidunt eros a, posuere nunc. Nullam ex neque, mattis quis eros vitae, consectetur laoreet nisi. Mauris molestie ut augue sed pellentesque. Sed vestibulum urna sed justo imperdiet suscipit. Morbi bibendum tincidunt purus non feugiat. Phasellus ullamcorper tristique laoreet. In hac habitasse platea dictumst.</p>
	
	<p>Maecenas rhoncus molestie risus. Nullam eget porttitor justo. Nam mollis fringilla arcu at mollis. Integer et suscipit ipsum. Nulla in felis tincidunt, pharetra mi sit amet, suscipit nulla. Aliquam volutpat nisi tristique, blandit massa et, egestas sapien. Nam ullamcorper erat vulputate enim condimentum posuere. Maecenas nulla sapien, tincidunt et rhoncus vitae, eleifend sed metus. Aenean orci enim, rhoncus quis sodales a, pharetra quis ante.</p>
	
	<p>Integer eu eros quis lorem euismod sollicitudin. Phasellus quis lobortis justo, eget iaculis metus. Maecenas neque arcu, commodo at fermentum nec, posuere eu leo. In mi neque, pellentesque quis luctus vitae, aliquet vitae augue. Morbi pulvinar quis ipsum eget vestibulum. Integer congue erat a quam imperdiet, lacinia fringilla justo pulvinar. Donec ac urna quis ex rhoncus cursus ut et neque. Suspendisse potenti. Duis condimentum tortor in erat varius, at finibus nulla luctus. Pellentesque pretium iaculis aliquam. Vestibulum vestibulum posuere justo sed interdum. Cras libero est, volutpat in blandit at, rhoncus sed sem. Mauris mi nisi, blandit at ipsum a, accumsan tincidunt sapien. Aenean vitae condimentum felis. Pellentesque eu pharetra neque, ac dapibus diam. Quisque fermentum quam leo, vitae mollis velit interdum et.</p>
</main>