<header bs-nav-header></header>

<main>

<div ng-controller="PlanejamentoController" data-ng-init="listarPlanejamentos()">
	<div class="ca-div-filtro" layout="row" layout-align="center center">
		<h3 class="ca-font-bd">Planejamentos</h3>
		<md-input-container class="md-block">
			<label for="mes">Mês</label>
			<md-select ng-model="mes" class="md-block" id="mes" required>
				<md-option ng-repeat="mes in meses" value="{{mes.key}}">{{mes.value}}</md-option>
			</md-select>
		</md-input-container>
		<md-input-container class="md-block">
			<label for="ano">Ano</label>
			<md-select ng-model="ano" class="md-block" id="ano" required>
				<md-option ng-repeat="ano in anos" value="{{ano}}">{{ano}}</md-option>
			</md-select>
		</md-input-container>

	</div>
	<div layout="row" style="padding: 10px;">
		<div flex class="md-whiteframe-3dp" style="margin: 10px;min-height: 150px;">
			<h3 class="ca-font-md" style="text-align: center;">Mês anterior<h3>
		</div>
		<div flex class="md-whiteframe-3dp" style="margin: 10px;min-height: 150px;">
			<h3 class="ca-font-md" style="text-align: center;">Mês atual<h3>
			<ul>
				<li ng-repeat planejamento in planejamentos>{{planejamento.valor}}</li>
			</ul>
		</div>
		<div flex class="md-whiteframe-3dp" style="margin: 10px;min-height: 150px;">
			<h3 class="ca-font-md" style="text-align: center;">Mês seguinte<h3>
		</div>
	</div>
</div>

</main>