<header bs-nav-header></header>

<main ng-controller="EmailController" class="flexDiv90" align="center">
	<div align="center" style="width: 100%;">
		<md-card class="card-register">
			<form class="ca-input-group">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline ca-font-md">novo usuário (email)</span>
					</md-card-title-text>
				</md-card-title>
					<md-input-container class="md-block">
						<md-icon>mail_outline</md-icon>
						<input type="email" id="email" focus="true" ng-model="email"
							placeholder="Digite seu email" required autofocus title="Digite seu email">
					</md-input-container>
				<md-card-actions layout="row" layout-align="center center">
					<md-button class="md-raised md-primary ca-button-85" ng-click="registrarEmail()" id="submit" type="submit">Enviar</md-button>
				</md-card-actions>
			</form>
		</md-card>
	</div>
</main>