<header navheader></header>
<div ng-controller="LoginController" data-ng-init="initSenha()">
	<form class="form-signin">
		<h2 class="form-signin-heading text-center">Alterar senha</h2>

		<label for="senha" class="sr-only">Senha Atual</label>
		<input type="password" id="senha" class="form-control" ng-model="usuario.senha"
			placeholder="Senha atual" required autofocus focus="true">

		<label for="senhaNova" class="sr-only">Senha nova</label>
		<input type="password" id="senha" class="form-control" ng-model="usuario.senhaNova"
			placeholder="Senha nova" required>

		<button class="btn btn-lg btn-primary btn-block" ng-click="alterarSenha()" id="submit" type="submit">Enviar</button>
	</form>
</div>