<header bs-nav-header></header>

<main ng-controller="LoginController" data-ng-init="initSenha()" class="flexDiv90 spacing-top" align="center">
	<div align="center" style="width: 100%;">
		<md-card class="card-senha">
			<form>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline ca-font-md">alterar senha</span>
					</md-card-title-text>
				</md-card-title>
					<div class="ca-input-group">
						<md-input-container class="md-block">
							<!-- <md-icon>lock_open</md-icon> -->
							<input type="password" id="senhaAtual" ng-model="usuario.senha"
								placeholder="Senha atual" required autofocus focus="true" title="Senha atual">
						</md-input-container>
						<md-input-container class="md-block">
							<!-- <md-icon>lock_open</md-icon> -->
							<input type="password" id="senhaNova" ng-model="usuario.senhaNova"
								placeholder="Senha nova" required title="Nova senha">
						</md-input-container>
						<md-input-container class="md-block">
							<!-- <md-icon>lock_open</md-icon> -->
							<input type="password" id="senhaConfirma" ng-model="usuario.senhaConfirma"
								placeholder="Senha confirma" required title="Confirmação da nova senha">
						</md-input-container>
					</div>
				<md-card-actions layout="row" layout-align="center center">
					<md-button class="md-raised md-primary ca-button-85" ng-click="alterarSenha()" id="submit" type="submit">Enviar</md-button>
				</md-card-actions>
			</form>
		</md-card>
	</div>
</main>